.metadata/
.project
.classpath
.settings/
.jsdtscope

# Eclipse prefs
*.prefs

# Compiled files
*.class

# Build folders
build/
target/

# Logs
*.log

# Eclipse WTP
org.eclipse.wst.*

# OS files
.DS_Store
Thumbs.db
